 body{
    margin: 0px;
    font-family: serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.menu{   
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between; 
    background-color: rgb(57, 75, 14);
    padding: 15px;
}

.menu li{
    font-size: 30 px;
    text-align: center;
    list-style: none;
    padding-right: 20px; 
    color:white;
    margin: right 5px;
}
h1{
    font-size: 40px;
    color: green;
    text-align: center;
    font-family: broadway;
    font-style: italic;
}

.note p{
    font-size: 20px;
    color:black;
    text-align: center;
    font-style: italic;
    padding-bottom: 50px;
}
h2{
    font-size: 30px;
    background-color: rgb(236, 227, 150);;
    text-align: center;
    color: rgb(29, 77, 24);
    font-family: cursive;
    font-style: italic;
    
}
.item1 {
    width: 300px;
    
}
.item1 h3{
    font-size: 20px;
    color: rgb(9, 54, 9);
    text-align: center;
    font-family:cursive;
    font-style: italic;
}
.item1 img{
    width: 250px;
    height: 150px;
    border-radius: 20px;
}
.well {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.well p{
    text-align: center;
    text-wrap:initial;

}
h1{
    font-size: 30px;
    color: green;
    text-align: center;
    font-family: broadway;
    font-style: italic;
}
 p{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    flex-wrap: wrap;
    text-align:center;
}
img{
    width: 250px;
    height: 150px;
    border-radius: 20px;
    flex-direction:center;

}
.About{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    flex-wrap: wrap;
}
.About .p{
    width: 50%;
    text-align: center;
    font-size:larger;
}
.pre{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.note{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(57, 75, 14);
    width: 500px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}
.note p{
    color: rgb(236, 240, 236);
    text-align: center;
}
label{
    font-size: 20px;
    color: rgb(236, 240, 236);
    text-align: center;
    font-family: roboto;
}
.About .pic{
    width: 50%;
    display: flex;
    justify-content: center;  
}
.About .pic img{
    width: 300px;
    height: 400px;
}
.About p{
    text-align: left;
    margin: 10px;;
    flex-wrap: wrap;
    word-spacing: 10px;
}
.pro{
    display: flex; 
    justify-content: space-around;
    margin: 30px;
    flex-wrap: wrap;
    gap: 15px;
}
.projects{
    display: flex;
    flex-direction: column;
    align-items:   center;
    width: 300px;

 }

 .projects.pic img{
    width:200px;
    height:200px;
    border-radius:20px;
    padding-right: 50%;
 }
 .projects.h4{
    text-align: justify;
    margin:10px;
    flex-wrap:wrap;
    word-spacing:10px;
 }
 .contact.p{
    width: 50px;
    text-align: justify;
 }
.socials{ 
    width: 50px;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

footer{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    font-family: roboto;
    align-content: center;
}
.socials img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-right: 20px;
    align-content: center;
    align-items: center;
}
.btn{
    display: none;
}
@media(max-width:900px){
    .btn{
        display: flex;
        cursor: pointer;
    }
    .menu{
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: -200%;
        width: 50%;
        height: 40vh;
        transition: 0.5s;
        background-color:rgba(57, 75, 14, 0.966) ;
        float: left;
        text-align: center;
    }
    .menu li{
        margin: 10px;
        display: inline;
        color: #fff;
        text-align: center;
        font-weight: 900;
        line-height:  5px;
        float:left;
        cursor: pointer;
        margin-bottom: 30px;
    }
    .menu.active{
        left: 0;
    }
}